<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img [src]="user.imagen" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>
        <p class="card-text">Miembro funcional de 7mo semestre</p>
        <p class="card-text"><small class="text-muted">Ultima aparicion el dia de hoy</small></p>
        <button class="btn btn-outline-success" (click)='onSendData()' *ngIf="user.id%2">Enviar al proyecto</button>
      </div>
    </div>
  </div>
</div>
